div.carrouselContainer {
    position: relative;
    height: 140px;
    width: 210px;
    margin: 40px auto;
    perspective: 1000px;
}

div.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
}

div.pane {
    position: absolute;
    height: 120px;
    width: 190px;
    opacity: .5;
    top: 10;
    left: 10;
}


